.category-mask {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
    z-index: 201;
}

.category {
	width: 90vw;
	height: 80%;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #f0f0f0;
	border-radius: 16rpx 0px 0px 0px;
    z-index: 999;
    overflow: scroll;
}
.btns_bottom{
	width: 100%;
	position: fixed;
	bottom: 86rpx;
}
.category .btns{
display: flex;
    /* margin: calc(120rpx + env(safe-area-inset-bottom)) 46rpx calc(120rpx + env(safe-area-inset-bottom)); */
margin: 46rpx 30rpx 0rpx 30rpx;
    justify-content: space-between;
    width: -webkit-fill-available;
 /*   position: absolute;
    bottom: calc(120rpx + env(safe-area-inset-bottom)); */
}
.category .btns view{
   width: calc(calc(100% - 0rpx) /2);
   line-height: 54rpx;
    text-align: center;
	font-size: 32rpx;
}
.category .btns view.cancel{
	color: #999;
	border-right: 1px solid #ddd;
}
.category .btns view.complate{
font-weight: bold;
	color: #111;
}
.instructions {
	margin: 40rpx 0 28rpx 30rpx;
	    font-weight: 600;
	   font-size: 32rpx;
	   color: #000000;
	   line-height: 42rpx;
}

.category-main {
	display: flex;
	flex-wrap: wrap;
	margin: 0 30rpx;
	/* justify-content: space-between; */
}

.category-item {
	width: calc(calc(100% - 80rpx) / 3);
	height: 70rpx;
	color: #111;
	border-radius: 35rpx;
	font-size: 28rpx;
	background-color: #fff;
	text-align: center;
	line-height: 70rpx;
	margin-bottom: 28rpx;
	border: 2rpx solid #111;
	margin-right: 20rpx;
}
.category-item.active {
	color: #fff;
	background-color: #111111;
	border: 2rpx solid #111111;
	border-radius: 35rpx;
}